<div class="mdl-grid">
  <button disabled class="mdl-button mdl-js-button mdl-button--raised" style="color: #222;font-size: 120%;font-weight: bold;">
      {{ lang.user | capitalize }} : {{ user.name }}
  </button>
  <button v-on:click="showLangModal" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    {{ lang._list[lang._current] | capitalize }}
  </button>
      <dialog id="choose-lang-dialog" class="mdl-dialog">
        <h4 class="mdl-dialog__title">{{ lang.choose_lang | capitalize }}</h4>
        <div class="mdl-dialog__content">
          <ul class="mdl-list">
            <li v-on:click="changeLanguage" v-for="(id, la)  in lang._list"  class="mdl-list__item">
              <span class="mdl-list__item-primary-content" data-id="{{ id }}">{{ la }}</span>
            </li>
          </ul>
        </div>
      </dialog>
  <div class="mdl-card mdl-shadow--2dp">
    <div class="mdl-card__supporting-text">
      <template v-for="conf in askFor" >
        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-{{ conf.id }}">
          <input v-on:change="update" type="checkbox" name="{{ conf.id }}" id="switch-{{ conf.id }}" class="mdl-switch__input" checked="{{ conf.value }}" >
          <span class="mdl-switch__label">{{ conf.lang }}</span>
        </label>
      </template>
    </div>
  </div>
  <button v-on:click="resetCredConfig" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    {{ lang.resetCredConfig | uppercase }}
  </button>
  <button v-on:click="resetServerConfig" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    {{ lang.resetServerConfig | uppercase }}
  </button>
</div>
