<div class="fiche-view">
  <div class="mdl-grid mdl-grid--no-spacing" style="background-color:#f44336;    border-bottom: 1px solid #666;">
    <div class="mdl-cell" style="width:66%;">
      <h4>{{fiche.patient.firstname}} {{fiche.patient.lastname}}</h4>
      <p>Née le : {{fiche.patient.birthdate}}</p>
      <p>{{fiche.patient.gender}}</p>
    </div>
    <div class="mdl-cell" style="width:33%;">
      <h3>{{fiche.uid}}</h3>
    </div>
    <div class="mdl-cell" style="width:100%;">Equipe resp. : {{fiche.owner_id}} <span v-if="fiche.owner_id == user.name">(Vous)</span></div>
  </div>

  <button v-on:click="give" class="owning-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-if="fiche.owner_id == user.name">Envoyer</button>
  <button v-on:click="take" class="owning-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-else>Prendre</button>

  <button v-on:click="reopen" class="closing-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-if="fiche.closed == true">Ré-Ouvrir</button>
  <button v-on:click="close" class="closing-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-else>Fermer</button>

  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#affections-panel" class="mdl-tabs__tab is-active" >Affections</a>
        <a href="#history-panel" class="mdl-tabs__tab" >Historique</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="affections-panel">
      <ul class="mdl-list">
        <li class="mdl-list__item add-button">
          <span v-on:click="showAddPathologyModal" class="mdl-list__item-primary-content">Ajouter +</span>
        </li>
        <li v-for="path in fiche.pathologys"  class="mdl-list__item">
          <span class="mdl-list__item-primary-content">{{ path }}</span>
        </li>
      </ul>
    </div>
    <div class="mdl-tabs__panel" id="history-panel" style="display:none;">
      <ul class="mdl-list">
        <!-- TODO -->
      </ul>
    </div>
  </div>

  <dialog id="add-path-dialog" class="mdl-dialog">
    <h4 class="mdl-dialog__title">Ajout d'une affection</h4>
    <div class="mdl-dialog__content">
      <ul class="mdl-list">
        <li v-for="path in config.pathologys"  class="mdl-list__item">
          <span v-on:click="addPathology" class="mdl-list__item-primary-content">{{ path }}</span>
        </li>
      </ul>
    </div>
  </dialog>
</div>
