<div class="fiche-view">
  <div class="info mdl-grid mdl-grid--no-spacing {{fiche.closed ? 'close':'open'}} {{fiche.deleted ? 'del':' '}}"  v-on:click.prevent="showUpdateInformation">
    <div class="mdl-cell" style="width:60%; padding: 10px 20px;">
      <p>{{ lang.fiche.birthdate }} : {{fiche.patient.birthdate}} ({{_patient_age}})</p>
      <p>{{ lang.fiche.sex }}    : {{ lang.fiche.gender[fiche.patient.gender] || fiche.patient.gender | capitalize }}</p>
      <p>{{ lang.fiche.origin }} : {{ lang.fiche.origins[fiche.origin] || fiche.origin | capitalize }}</p>
      <p>{{ lang.fiche.team }}   : {{fiche.owner_id}} <span v-if="fiche.owner_id == user.name">({{ lang.you }})</span></p>
    </div>
    <div class="mdl-cell" style="width:40%;">
      <h3>{{fiche.uid}}</h3>
    </div>
  </div>
  <template v-if="fiche.deleted == true">
    <button v-on:click="undelete" class="deleting-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-if="user.isAdmin() == true">{{ lang.fiche['cancel-del'] | capitalize }}</button>
  </template>
  <template v-else>
    <button v-on:click="addCheckIn" class="checkin-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-if="fiche.owner_id == user.name">{{ lang.checkin | capitalize }}</button>
    
    <button v-on:click="delete" class="deleting-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-if="user.isAdmin() == true">{{ lang.delete | capitalize }}</button>
    <button v-on:click="showGiveModal" class="owning-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-if="fiche.owner_id == user.name">{{ lang.send | capitalize }}</button>
    <button v-on:click="take" class="owning-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-else>{{ lang.take | capitalize }}</button>

    <button v-on:click="reopen" class="closing-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-if="fiche.closed == true">{{ lang.reopen | capitalize }}</button>
    <button v-on:click="close" class="closing-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" v-else>{{ lang.close | capitalize }}</button>
  </template>
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#affections-panel" class="mdl-tabs__tab is-active" >{{ lang.fiche.diseases | capitalize }}</a>
        <a href="#history-panel" class="mdl-tabs__tab" >{{ lang.fiche.history | capitalize }} <span id="history_last_update">{{_last_update}}</span></a>
    </div>
    <div class="mdl-tabs__panel is-active" id="affections-panel">
      <ul class="mdl-list">
        <li class="mdl-list__item add-button">
          <span v-on:click="showAddPathologyModal" class="mdl-list__item-primary-content">{{ lang.add | capitalize }} +</span>
        </li>
        <li v-for="path in fiche.pathologys"  class="mdl-list__item">
          <span class="mdl-list__item-primary-content">{{ lang.fiche.pathologys[path] || path }}</span>
          <span class="mdl-list__item-secondary-action">
              <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-{{ path }}">
                <input v-on:change="changePrimaryAffection" type="radio" id="option-{{ path }}" class="mdl-radio__button" name="primary-affection" value="{{ path }}" checked="{{ fiche.primaryAffection == path }}" />
              </label>
          </span>
        </li>
      </ul>
    </div>
    <div class="mdl-tabs__panel" id="history-panel">
      <ul class="mdl-list">
      <li v-for="e in fiche.events | orderBy 'timestamp' -1"  class="mdl-list__item">
        <span class="mdl-list__item-primary-content">{{{ e.message }}}</span>
        <span class="mdl-list__item-secondary-content">
          <span class="mdl-list__item-secondary-info">{{ e.timestamp | formatTime }}</span>
        </span>
      </li>
      </ul>
    </div>
  </div>

    <dialog id="update-fiche-information-dialog" class="mdl-dialog">
          <h4 class="mdl-dialog__title">{{ lang.fiche["update-information"] }}</h4>
           <form  action="#" v-on:submit.prevent="changeInformation">
             <div class="mdl-dialog__content">
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" id="lastname" v-model="fiche.patient.lastname" maxlength="1"/>
                  <label class="mdl-textfield__label" for="lastname">{{ lang.lastname | capitalize }}</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" id="firstname" v-model="fiche.patient.firstname" />
                  <label class="mdl-textfield__label" for="firstname">{{ lang.firstname | capitalize }}</label>
                </div>
                <div>
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                    <input type="radio" id="option-1" class="mdl-radio__button" name="gender" v-model="fiche.patient.gender" value="male">
                    <span class="mdl-radio__label">{{ lang.fiche.gender.male | capitalize }}</span>
                  </label>
                  <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                    <input type="radio" id="option-2" class="mdl-radio__button" name="gender" v-model="fiche.patient.gender" value="female">
                    <span class="mdl-radio__label">{{ lang.fiche.gender.female | capitalize }}</span>
                  </label>
                </div>
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="date" id="birthdate" v-model="fiche.patient.birthdate" />
                  <label class="mdl-textfield__label" for="birthdate">{{ lang.fiche.birthdate }}</label>
                  <span class="mdl-textfield__error">{{ lang.fiche["birthdate-error-mess"] }}</span>
                </div>
              <br>
            </div>
            <div class="mdl-dialog__actions">
              <input type="submit" style="float:right" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="{{ lang.confirm | capitalize }}" />
              <button v-on:click="closeUpdateInformation" type="button" class="mdl-button close">{{ lang.cancel | capitalize }}</button>
            </div>
        </form>
    </dialog>
  <dialog id="close-fiche-dialog" class="mdl-dialog">
        <h4 class="mdl-dialog__title">{{ lang.fiche["please-enter-informations"] }}</h4>
         <form  action="#" v-on:submit.prevent="submitClose">
          <div class="mdl-dialog__content">
            <div class="mdl-textfield mdl-js-textfield">
              <select name="output">
                <option v-for="output in config.outputs" value="{{ output }}" >{{  lang.fiche.outputs[output] || output }}</option>
              </select>
            </div>
            <br>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="seen-by-doctor">
              <input type="checkbox" id="seen-by-doctor" name="seen-by-doctor" class="mdl-checkbox__input">
              <span class="mdl-checkbox__label">{{ lang.fiche["seen-by-doctor"] }}</span>
            </label>
            <br>
        </div>
        <div class="mdl-dialog__actions">
            <input type="submit" style="float:right" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="{{ lang.confirm | capitalize }}" />
            <button v-on:click="closeCloseModal" type="button" class="mdl-button close">{{ lang.cancel | capitalize }}</button>
        </div>
      </form>
  </dialog>
  <dialog id="add-origin-dialog" class="mdl-dialog">
      <h4 class="mdl-dialog__title">{{ lang.fiche['add-origin'] }}</h4>
      <div class="mdl-dialog__content">
        <ul class="mdl-list">
          <li v-for="origin in config.origins"  class="mdl-list__item">
            <span v-on:click="addOrigin" class="mdl-list__item-primary-content" data-id="{{ origin }}">{{ lang.fiche.origins[origin] || origin }}</span>
          </li>
        </ul>
      </div>
  </dialog>
  <dialog id="give-ticket-dialog" class="mdl-dialog">
    <h4 class="mdl-dialog__title">{{ lang.fiche['give-ticket'] }}</h4>
    <form  action="#" v-on:submit.prevent="giveTicket">
        <div class="mdl-dialog__content">
          <ul class="mdl-list">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" type="text" id="owner" v-model="fiche.owner_id" >
              <label class="mdl-textfield__label" for="owner">{{ lang.fiche['owner'] | capitalize }}</label>
            </div>
            <li v-on:click="setGiveForm" v-for="u in users | filterBy fiche.owner_id | limitBy 3"  class="mdl-list__item">
              <span class="mdl-list__item-primary-content" >{{ u }}</span>
            </li>
          </ul>
        </div>
        <div class="mdl-dialog__actions">
            <input type="submit" style="float:right" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="{{ lang.confirm | capitalize }}" />
            <button v-on:click="cancelGiveForm" type="button" class="mdl-button close">{{ lang.cancel | capitalize }}</button>
        </div>
    </form>
  </dialog>
  <dialog id="add-path-dialog" class="mdl-dialog">
    <h4 class="mdl-dialog__title">{{ lang.fiche['add-path'] }}</h4>
    <div class="mdl-dialog__content">
      <ul class="mdl-list">
        <li v-on:click="addPathology" v-for="path in config.pathologys"  class="mdl-list__item">
          <span class="mdl-list__item-primary-content" data-id="{{ path }}" >{{ lang.fiche.pathologys[path] || path }}</span>
        </li>
      </ul>
    </div>
        <div class="mdl-dialog__actions">
          <button v-on:click="closeAddPathologyModal" type="button" class="mdl-button close">{{ lang.cancel | capitalize }}</button>
        </div>
  </dialog>
</div>
