.app {
  /* Fix http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html */
  .mdl-button {
      -webkit-tap-highlight-color:rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
      -webkit-tap-highlight-color:transparent;
      &.quick-add{
          position:fixed;
          bottom:32px;
          right:32px;
          z-index: 9999;
      }
  }
  .mdl-list{
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    .mdl-list__item{
      border-bottom: 1px solid #EEE;
      text-align: center;
      .mdl-list__item-primary-content{
        display: inline-block;
      }
      .mdl-list__item-secondary-action {
          margin-top: -28px;
      }
    }
  }

  .mdl-dialog {
    width: 360px;
    .mdl-list{
      .mdl-list__item:hover{
        background: #EEE;
      }
    }
  }

  .fiche-view{
    .info {
      background-color: #f44336;
      &.close{
        background-color: #ccc !important;
      }
      &.del{
        color: #EEE !important;
        background-color: #333 !important;
      }
      border-bottom: 1px solid #666;
      /* padding: 0 6px 24px !important; */
      h4{
        margin: 16px 0 12px;
      }
      p{
        margin: 0;
      }
    }
    .mdl-tabs {
      span#history_last_update {
          display: block;
          margin: -33px;
          font-size: 70%;
          text-transform: initial;
      }
    }
    .fiche-menu{
      float: right;
      margin: -24px 0;
      z-index: 1000;
      position: relative;
      @media screen and (max-width:610px) {
        background: #717171;
        padding: 4px 0 4px 7px;
        border-radius: 5px;
        border: 0.5px solid #666;
      }
      .mdl-button {
          margin-right: 5px;
          &.owning-button{
            background-color: #009688 !important;
          }
          &.closing-button{
            background-color: #888 !important;
          }
          &.menu-button{
              @media screen and (min-width:610px) {
                display: none;
              }
              margin-top: -2px;
              float: right;
          }
      }
      &.collapsed {
        background: transparent;
        border: none;
        @media screen and (max-width:610px) {
          .mdl-button {
            display: none;
            &.menu-button{
              display: inherit;
            }
          }
        }
      }
    }
    .mdl-list{
      .add-button{
        background: #EEE;
        font-weight: bold;
      }
    }
  }

  #history-panel .mdl-list{
    .mdl-list__item{
      .mdl-list__item-primary-content {
        text-align: left;
      }
    }
  }

  a.fiche.patient{
      text-decoration: none;
      .mdl-card{
          min-height: 0px;
          width: 100%;
          .mdl-card__title {
              padding-bottom: 0;
              h4{
                  margin: 0;
              }
          }
          .birthdate{
              float: right;
          }
          .timestamp{
            float: right;
            position: absolute;
            top: 0px;
            right: 0px;
            color: #FFF;
            background: #CCC;
            padding: 0 4px;
            border-bottom-left-radius: 6px;
            font-size: 60%;
            &.old{
              color: red;
            }
          }
          .owner{
            float: left;
            position: absolute;
            top: 0px;
            left: 0px;
            color: #FFF;
            background: #999;
            padding: 0 4px;
            border-bottom-right-radius: 6px;
            font-size: 60%;
          }
      }
  }
  /*
  .mdl-dialog{
    .mdl-dialog__actions{
      .mdl-button{
          &.close{
            float: left;
          }
      }
    }
  }
  */
  #_login {
      height: 100%;
      main.mdl-layout__content {
          /*
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -262px -170px;
          /**/
      }
      #logo, .mdl-card {
          width: 340px;
          margin-bottom: 30px;
          margin-right: auto;
          margin-left: auto;
          margin-top: 7%;
      }

      #logo>h2, #logo>h3,.mdl-card__actions>a {
        float:right;
      }

      #logo>h3 {
        margin-top : -52px;
        font-size : 150%;
      }

      #logo>img {
        margin-left: -20px;
      }
  }

  .page-content#settings {
    button, .mdl-card {
        width: 100%;
        margin: 1rem;
    }
    .mdl-switch {
      height: auto;
    }
  }
  header h3{
    max-width: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
