/* Fix http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html */
.mdl-button {
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color:transparent;
    &.quick-add{
        position:fixed;
        bottom:32px;
        right:32px;
        z-index: 9999;
    }
}

.fiche-view{
  .info {
    background-color: #f44336;
    &.close{
      background-color: #ccc;
    }
    border-bottom: 1px solid #666;
    /* padding: 0 6px 24px !important; */
    h4{
      margin: 16px 0 12px;
    }
    p{
      margin: 0;
    }
  }
  .mdl-dialog {
    width: 360px;
    .mdl-list{
      .mdl-list__item:hover{
        background: #EEE;
      }
    }
  }
  .mdl-button {
      &.owning-button{
        float: right;
        margin: -24px 10px;
        background-color: #009688 !important;
      }
      &.closing-button{
        float: right;
        margin: -24px 120px;
        background-color: #888 !important;
      }
  }
  .mdl-list{
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    .add-button{
      background: #EEE;
      font-weight: bold;
    }
    .mdl-list__item{
      border-bottom: 1px solid #EEE;
      text-align: center;
      .mdl-list__item-primary-content{
        display: inline-block;
      }
      .mdl-list__item-secondary-action {
          margin-top: -28px;
      }
    }
  }
}

#history-panel .mdl-list{
  .mdl-list__item{
    .mdl-list__item-primary-content {
      text-align: left;
    }
  }
}

a.fiche.patient{
    text-decoration: none;
    &[data-closed="true"]{
       .mdl-card{
      }
    }
    .mdl-card{
        min-height: 0px;
        width: 100%;
        &.close{
          background: #DDD;
        }
        .mdl-card__title {
            padding-bottom: 0;
            h4{
                margin: 0;
            }
        }
        .birthdate{
            float: right;
        }
    }
}
/*
.mdl-dialog{
  .mdl-dialog__actions{
    .mdl-button{
        &.close{
          float: left;
        }
    }
  }
}
*/
#_login {
    height: 100%;
    main.mdl-layout__content {
        /*
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -262px -170px;
        /**/
    }
    #logo, .mdl-card {
        width: 340px;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 7%;
    }

    #logo>h2, #logo>h3,.mdl-card__actions>a {
      float:right;
    }

    #logo>h3 {
      margin-top : -52px;
      font-size : 150%;
    }

    #logo>img {
      margin-left: -20px;
    }
}

.page-content#configuration {
  button, .mdl-card {
      width: 100%;
      margin: 1rem;
  }
}
