/* Fix http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html */
.mdl-button {
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color:transparent;
    &.quick-add{
        position:fixed;
        bottom:32px;
        right:32px;
    }
}



a.fiche.patient{
    text-decoration: none;
    .mdl-card{
        min-height: 0px;
        width: 100%;
        .mdl-card__title {
            padding-bottom: 0;
            h4{
                margin: 0;
            }
        }
        .birthdate{
            float: right;
        }
    }
}
