body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -ms-text-size-adjust: none;                 /* prevent ms from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -moz-user-select: none;                     /* prevent copy paste, to allow, change 'none' to 'text' */
    -ms-user-select: none;                      /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    .app{
        z-index: 42;
        height:100%;
        margin:0px;
        padding:0px;
        width:100%;
        opacity: 1;
    }
}

/* .button */
/*
.quick-add{
    position:fixed;
    bottom:32px;
    right:32px;
}
*/

#menu {
    #menu-title{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .v-link-active{
        background: #ccc;
    }
}

form#add_form {
    width: 100%;
}
section{
  background: #fff;
  .mdl-card{
    background: transparent;
  }
  &[data-patient-age="0"],
  &[data-patient-age="1"],
  &[data-patient-age="2"],
  &[data-patient-age="3"],
  &[data-patient-age="4"],
  &[data-patient-age="5"],
  &[data-patient-age="6"],
  &[data-patient-age="7"],
  &[data-patient-age="8"],
  &[data-patient-age="9"],
  &[data-patient-age="10"],
  &[data-patient-age="11"],
  &[data-patient-age="12"],
  &[data-patient-age="13"],
  &[data-patient-age="14"],
  &[data-patient-age="15"],
  &[data-patient-age="16"] {
    background: coral;
  }
  &[data-patient-age="17"] {
    background: bisque;
  }
  &.close{
    background: #DDD;
    min-height: 134px;
  }
  &.del{
    .mdl-card>div {
      color: #DDD;
    }
    background-color: #666;
  }
  .timestamp{
    &.old{
      color: red;
    }
  }  
}
.fiche.patient{
  .pathologys{
    margin: 5px 0 -5px 0;
    display: inline-block;
    >span{
      background: #ccc;
      border-radius: 5px;
      padding: 0px 5px 1px 5px;
      margin: 0 5px 3px 0;
      display: inline-block;
      font-size: 80%;
    }
  }
}
